.mg_sun{fill:#F4A71D;}
.mg_cloud{fill:#FFFFFF;}
.mg_rain{fill:#2885C7;}
.mg_moon{fill:#72B8D4;}
.mg_fog{fill:#DEDFE0;}
.mg_snow{fill:#72B8D4;}
.mg_lightning {fill:#e5e85f;}
.mg_hail{fill:#72B8D4;}
.mg_tornado{fill:#B8B9BA;}
